---
import Layout from '~/layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Fetch the network collection
const networkProducts = await getCollection('network');

// Define getStaticPaths() to generate paths for all network products
export async function getStaticPaths() {
  const networkProducts = await getCollection('network');
  return networkProducts.map((product) => ({
    params: { slug: product.slug },
    props: { product },
  }));
}

// Destructure the product from props
const { product } = Astro.props;
---

<Layout>
  <h1>{product.data.title}</h1>
  <img src={product.data.imageCard.src} alt={product.data.title} />
  <p>{product.data.body}</p>
  {product.data.description && <p>{product.data.description}</p>}
</Layout>